<ul>
  @for (artist of artists; track artist.id){
    <li data-cy="list-artist">
      <app-artist [artist]="artist"> </app-artist>
      <div>
        <button (click)="deleteArtistFromList(artist.id)" matFab aria-label="button with a control_point icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  }
</ul>
@if(errorMessage) {
  <div data-cy="erreur-message" style="color: red; margin: 1em 0;">
    {{ errorMessage }}
  </div>
}
<app-artist-form-component (newArtist)="handleNewArtist($event)"></app-artist-form-component>
